.texto{
    border: 4px;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 250px;
    display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}
.texto:focus {
    outline: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .boton {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 1px solid #4741d7; /* tamaño y color de borde */
    padding: 10px 16px;
    border-radius: 4px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    justify-content: flex-end;
  align-items: center;
    margin-left: 10px;
  }
  .boton:hover {
    color: #fff;/* color de fuente hover */
  }
  .boton::after {
    content: "";
    background: #4641d795; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
  }
  .boton:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
  }
  .contenedor{
    
    display: flex;
    position: fixed;
  top: 0;
  right: 0;
  }